<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="corp.ny.com.codehttp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".views.ItemListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_item_list"
            android:logo="@drawable/ic_codehttp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ItemDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_item_detail"
            android:parentActivityName=".views.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.ny.com.codehttp.views.ItemListActivity" />
        </activity>

        <provider
            android:name=".system.CodeHttpInitProvider"
            android:authorities="corp.ny.com.codehttp.system.CodeHttpInitProvider"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>